body,html{height:100%;}
.db{display:block;}

.pace .pace-progress{top:100vw;right:25vw;}

.page{position:relative;}
.page .bgI{width:100%;position:relative;z-index:1;}
.page .coverI{width:100%;top:0;left:0;position:absolute;z-index:2;display:none;}
.page .itemImg{width:22%;position:absolute;z-index:1;}

.content{height:100%;}
.loadingBox{height:100%;}
.cover-ld{width:100%;height:100%;position:relative;z-index:99;background:url(../images/repeat-bg.jpg);}
.headImg-ld{width:48.73vw;margin:0 auto;padding-top:25vw;}
.progress-ld{font-size:15vw;text-align:center;}
.bb-ld{position:absolute;bottom:17vw;width:100%;}
.des-en-ld{font-size:4.7vw;text-align:center;margin-top:8.4vw;}
.des-ch-ld{font-size:4vw;text-align:center;margin-top:.3em;}

.entryPage{width:100%;height:100%;background:url(../images/repeat-bg.jpg);display:none;}
.entryPage .title-ep{width:89vw;position:relative;margin:0 auto;padding-top:12vw;}
.entryPage .mocha-ep{width:36vw;position:relative;margin:9.3vw auto;}
.entryPage .btn-ep{width:50vw;position:absolute;left:0;right:0;margin:0 auto;bottom:8vw;}
.entryPage .date{position:absolute;font-size:3%;bottom:1.5%;text-align:center;right:2.5%;}

.coverFront{position:fixed;width:100%;height:100%;left:0;top:0;background:rgba(0,0,0,.8);display:none;z-index:99;}
.coverFront img{width:50%;position:absolute;left:25%;bottom:5%;display:block;}

.cartoonBox{display:none;}
#cartoon1 .itemImg{left:20%;bottom:31%;}
#cartoon2 .itemImg{left:15%;bottom:7%;}
#cartoon3 .itemImg{left:12%;bottom:23%;}
#cartoon4 .itemImg{left:7%;bottom:9%;}

.dsWindow{width:100%;overflow:hidden;}

#endResult .bgI{position:relative;z-index:1;}
#endResult .container{position:absolute;z-index:2;right:0;top:0;width:100%;height:100%;}
#endResult .container .btnBox{padding:10%;}
#endResult .container .btnBox img{width:31%;}
#endResult .container .btnBox .discount{margin-right:4%;}

.share-btn{width:40%;margin:8vw 30vw;}
.moreEvent-icon{position:absolute;right:0;bottom:40vw;width:35%;}

.shareCoverBox{position:fixed;z-index:99;top:0;left:0;background:rgba(0,0,0,0.8);width:100%;height:100%;display:none;}
.nol-scb .shareCover{position:absolute;top:0;bottom:0;left:0;right:0;margin:auto;width:50%;}
.wec-scb .shareCover{position:absolute;top:10vw;left:25%;width:65%;}

.jumpCover{position:fixed;z-index:99;top:0;left:0;width:100%;height:100%;display:none;background:rgba(0,0,0,0.8);}
.head-gf{width:50%;padding-top:7vw;margin:0 auto;}
.descri-gf{width:85%;margin:2vw auto 0;}
.itemDisplay{width:44%;position:relative;margin:5vw auto;height:34vw;}
.disk-gf{width:100%;position:absolute;bottom:0;left:0;}
.items-gf{max-width:80%;max-height:83%;bottom:12%;position:absolute;margin:0 auto;left:0;right:0;}
.formTit-gf{font-size:5.6vw;text-align:center;margin:4.6vw 0;color:#fff;}
.f-row{width:73vw;height:5.3vw;line-height:5.3vw;padding:2.5vw 3.1vw;background:#fff;border-radius:4px;margin:3.1vw auto;font-size:5.3vw;}
.f-row label{height:5.3vw;line-height:5.3vw;border:0;font-size:5.3vw;}
.f-row input{width:54vw;height:5.3vw;line-height:5.3vw;border:0;font-size:4.8vw;margin-top:-0.6vw}
.giftsQuering .submit-gf{width:35vw;height:13vw;background:url(../images/btn-gf.png) no-repeat;background-size:100% 100%;border:0;margin:8vw auto 0;display:block;}
.jumpCover .close-ic{width:5vw;position:absolute;top:5vw;right:4.8vw;}

.giftsSuccess{position:fixed;z-index:99;top:0;left:0;background:rgba(0,0,0,0.8);width:100%;height:100%;display:none;}
.head-sc{width:50%;padding-top:47vw;margin:0 auto;}
.descri-sc{width:85%;margin:9.5vw auto 0;}
/*
.discountBody .cartoonBox{display:block;}
.discountBody .dsWindow{overflow:auto;}*/
.upperPage{position:absolute;top:0;left:0;z-index:5;display:none;}
.discountList{width:100%;background:url(../images/repeat-bg.jpg);padding-top:10vw;}
.discountList .discountTicket{width:90vw;margin:0 auto;}
.dsQuering .dsT{width:100%;display:none;}
.dsQuering .head-gf{margin:7.3vw auto 5.4vw;}
.dsQuering .descri-gf{margin-bottom:25vw;}
.dsQuering .subInfo-gf{margin-top:12vw;text-align:center;color:#fff;font-size:3.4vw;}
.dsQuering .submit-gf{width:35vw;height:13vw;background:url(../images/btn-gf.png) no-repeat;background-size:100% 100%;border:0;margin:8vw auto 0;display:block;}
.doctorsList{width:100%;background:url(../images/repeat-bg.jpg);padding-top:10vw;height:100%;}
.doctorsList .mod-img{width:94.6vw;margin:0 auto;}
.doctorsList .content{width:94.6vw;margin:0 auto;background:url(../images/c-doc.png);background-size:100% auto;position:relative;}
.doctorsList .item{padding:3vw 4%;border-bottom:0.6vw dotted #000;}
.doctorsList .portImg{width:22.5vw;height:33vw;border:0.6vw solid #000;border-radius:1.2vw;}
.doctorsList .infoBox{margin-left:2vw;width:60vw;}
.doctorsList .infoBox .hI{font-size:3.75vw;margin:.5vw 4vw 1.6vw 0;color:#000;display:inline-block;}
.doctorsList .infoBox .line-1{font-size:3vw;line-height:1.6em;color:#666;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.doctorsList .infoBox .help{font-size:3.4vw;color:#333;margin:2.8vw 0;}
.doctorsList .infoBox .price{font-size:3.4vw;color:#333;line-height:1.3em;}
.doctorsList .infoBox .socre{font-size:3.4vw;color:#f15103;line-height:3.4vw;margin:2.8vw 0;}
.doctorsList .infoBox .star{width:3vw;margin:2.8vw 0;display:inline-block;}
.doctorsList .infoBox .makeContract{padding:0 3vw;line-height:8vw;font-size:5vw;text-align:center;border-radius:5px;background:#f15103;color:#fff;}


